.logo {
    display: flex;
    align-items: center; /* Vertically align image and text */
}

.logo img {
    max-height:  50px; /* Set a maximum height */
    max-width: 100px; /* Set a maximum width */
    margin-right: 10px;
}
.logo span{
    font-weight: bold;
    font-size: large;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }
  